<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новый читатель</title>
</head>
<body>
    <form th:method="POST" th:action="@{/people}" th:object="${person}">
        <label for="full_name">Введите ФИО читетеля: </label>
        <input type="text" th:field="*{full_name}" id="full_name"/>
        <br/>
        <label for="age">Введите год рождения читателя: </label>
        <input type="text" th:field="*{age}" id="age"/>
        <br/>
        <input type="submit" value="Добавить читателя!">
    </form>
</body>
</html>